@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

:root {
  --c-white: #fff;
  --c-black: #000;
  --c-yellow-1: #f9d423;
  --c-grey-1: #7f8c8d;
  --c-red-1: #f85f40;
  --c-green-1: #1abc9c;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06); }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 56.25%; } }

.container {
  max-width: 132rem;
  margin: 0 auto;
  padding: 0 6rem; }
  @media only screen and (max-width: 900px) {
    .container {
      padding: 0 1rem; } }

nav > ul {
  display: contents; }

.header {
  position: relative;
  background-image: url(../../img/header-background.png);
  height: 94.5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -31%);
    text-align: center; }

.login-and-register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; }

.choose-domain {
  text-align: center;
  padding: 9rem 2rem;
  max-width: 93.5rem;
  margin: 0 auto; }
  .choose-domain__description {
    font-family: MontserratThin;
    color: #a2a2a2;
    padding: 2rem 0 4.4rem 0; }

.packages {
  position: relative;
  padding: 9.7rem 0;
  background-image: linear-gradient(to bottom, rgba(13, 13, 13, 0.7) 0%, rgba(13, 13, 13, 0.7) 50%, white 50%, white 100%), repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(0, 0, 0, 0.05) 3px, rgba(0, 0, 0, 0.05) 7px), url(../../img/packages-bg.jpg);
  background-position: center center;
  background-size: cover; }
  @media only screen and (max-width: 1320px) {
    .packages {
      background-image: linear-gradient(to bottom, rgba(13, 13, 13, 0.7) 0%, rgba(13, 13, 13, 0.7) 100%), repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(0, 0, 0, 0.05) 3px, rgba(0, 0, 0, 0.05) 7px), url(../../img/packages-bg.jpg); } }
  .packages__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25.5rem, 1fr));
    grid-gap: 6rem; }
    @media only screen and (max-width: 1320px) {
      .packages__inner {
        grid-template-columns: repeat(auto-fill, minmax(36rem, 1fr)); } }
    @media only screen and (max-width: 1000px) {
      .packages__inner {
        grid-template-columns: repeat(auto-fill, minmax(25.5rem, 1fr)); } }

.about-us {
  display: grid;
  grid-template-columns: 43% 57%;
  grid-row-gap: 3rem;
  grid-auto-rows: min-content;
  padding: 10rem 6rem;
  border-top: dotted 2px #d4d4d4; }
  @media only screen and (max-width: 1200px) {
    .about-us {
      grid-template-columns: auto; } }
  @media only screen and (max-width: 600px) {
    .about-us {
      padding: 10rem 0rem; } }
  .about-us__info {
    border-right: dotted 2px #d4d4d4;
    padding-right: 9rem; }
    @media only screen and (max-width: 1200px) {
      .about-us__info {
        text-align: center;
        padding-right: 0;
        border-right: none; } }
  .about-us__description {
    line-height: 1.5;
    font-size: 1.8rem;
    color: #747474;
    font-family: LatoLight;
    margin-top: 1.5rem; }
  .about-us__workers {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
    grid-gap: 1.7rem;
    padding-right: 2rem; }
    @media only screen and (max-width: 1200px) {
      .about-us__workers {
        justify-items: center;
        padding-right: 0; } }

.testimonials {
  position: relative;
  height: 12vw;
  background-color: #333;
  user-select: none; }
  @media only screen and (max-width: 900px) {
    .testimonials {
      height: 30vw; } }
  @media only screen and (max-width: 600px) {
    .testimonials {
      height: 50vw; } }
  .testimonials input {
    display: none; }
  .testimonials .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    padding: 0rem 2rem;
    align-content: center;
    justify-content: center;
    background-position: center center;
    background-size: cover; }
    .testimonials .slide:before {
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      background: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(0, 0, 0, 0.05) 3px, rgba(0, 0, 0, 0.05) 7px); }
    .testimonials .slide__content {
      text-align: center;
      max-width: 80%;
      margin: 0 auto; }
      @media only screen and (max-width: 900px) {
        .testimonials .slide__content {
          max-width: 100%; } }
    .testimonials .slide__text {
      font-family: LatoLight;
      font-size: 2rem;
      line-height: 1.5;
      color: var(--c-white);
      margin-bottom: 1rem; }
      .testimonials .slide__text-author {
        font-family: LatoBold;
        font-size: 2rem;
        line-height: 1;
        color: var(--c-white);
        padding-right: 1.2rem;
        border-right: 1px solid var(--c-white); }
  .testimonials .slide-1 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../../img/testimonials-img.jpg); }
  .testimonials .slide-2 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../../img/packages-bg.jpg); }
  .testimonials .slide-3 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../../img/testimonials-img.jpg); }
  .testimonials .nav-slide {
    cursor: default;
    display: inline-block; }
    .testimonials .nav-slide .dots {
      width: 0.8rem;
      height: 0.8rem;
      margin: 0 3px;
      position: relative;
      border-radius: 100%;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.6);
      border: 1px solid var(--c-white);
      transition: 0.4s;
      cursor: pointer; }
    .testimonials .nav-slide #dot1:hover {
      background: #333; }
    .testimonials .nav-slide #dot2:hover {
      background: #333; }
    .testimonials .nav-slide #dot3:hover {
      background: #333; }
  .testimonials #img-1:checked ~ #slide-one,
  .testimonials #img-2:checked ~ #slide-two,
  .testimonials #img-3:checked ~ #slide-three {
    display: grid;
    animation: scroll 0.7s ease; }
  .testimonials #img-1:checked ~ .slide #dot1 {
    background: #fff; }
  .testimonials #img-2:checked ~ .slide #dot2 {
    background: #fff; }
  .testimonials #img-3:checked ~ .slide #dot3 {
    background: #fff; }

@keyframes scroll {
  0% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }

.services {
  display: grid;
  padding: 17.5rem 6rem 9.3rem 6rem;
  grid-template-columns: repeat(auto-fit, minmax(22.2rem, 1fr));
  grid-gap: 15rem 10rem; }
  @media only screen and (max-width: 1350px) {
    .services {
      grid-template-columns: repeat(auto-fit, minmax(34.2rem, 1fr)); } }
  @media only screen and (max-width: 920px) {
    .services {
      grid-template-columns: repeat(auto-fit, minmax(22.2rem, 1fr)); } }

.footer {
  background-color: #2a2a2a;
  color: #686868;
  font-size: 1.5rem;
  line-height: 1.73; }
  .footer a {
    color: #686868; }
  .footer-sections-box {
    display: grid;
    grid-template-columns: 38fr 50fr 32fr;
    padding: 3.4rem 0; }
    @media only screen and (max-width: 930px) {
      .footer-sections-box {
        grid-template-columns: auto; } }
    .footer-sections-box > * {
      padding: 1.8rem 0;
      display: grid; }
      .footer-sections-box > *:not(:last-child) {
        border-right: 1px solid; }
        @media only screen and (max-width: 930px) {
          .footer-sections-box > *:not(:last-child) {
            border-right: 0;
            border-bottom: 1px solid; } }
  .footer__copyright {
    padding-right: 8rem; }
    @media only screen and (max-width: 1320px) {
      .footer__copyright {
        padding-right: 1rem; } }
    .footer__copyright-text {
      padding-bottom: 1.7rem; }
    .footer__copyright-designed-by--sub {
      font-family: LatoBold; }
  .footer__site-map {
    padding-left: 10rem;
    padding-right: 6rem; }
    @media only screen and (max-width: 1320px) {
      .footer__site-map {
        padding-left: 3rem;
        padding-right: 1rem; } }
    .footer__site-map-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 4rem; }
      .footer__site-map-list a {
        transition: all 0.3s; }
        .footer__site-map-list a:before {
          content: url(../../img/SVG/angle-right.svg);
          padding-right: 0.8rem; }
        .footer__site-map-list a[data-active], .footer__site-map-list a:hover {
          color: white; }
          .footer__site-map-list a[data-active]:before, .footer__site-map-list a:hover:before {
            content: url(../../img/SVG/angle-right-white.svg);
            padding-right: 2rem;
            color: white; }
  .footer__contacts {
    display: grid;
    padding-left: 7.5rem;
    grid-auto-rows: space-between; }
    @media only screen and (max-width: 1320px) {
      .footer__contacts {
        padding-left: 1rem; } }
    .footer__contacts-list {
      display: contents; }
    .footer__contacts .our-tel-number > a:before {
      content: url(../../img/SVG/phone.svg);
      padding-right: 0.8rem; }
    .footer__contacts .our-tel-number a:hover {
      color: white; }
    .footer__contacts .our-email > a:before {
      content: url(../../img/SVG/envelope.svg);
      padding-right: 0.8rem; }
    .footer__contacts .our-email a:hover {
      color: white; }

@font-face {
  font-family: "MyriadProRegular";
  src: url("../../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "MyriadProBold";
  src: url("../../fonts/MyriadPro/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "MontserratThin";
  src: url("../../fonts/Montserrat/Montserrat-Thin.otf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "LatoRegular";
  src: url("../../fonts/Lato/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "LatoBold";
  src: url("../../fonts/Lato/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "LatoLight";
  src: url("../../fonts/Lato/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

body {
  font-family: LatoRegular;
  font-size: 1.6rem; }

.heading-1 {
  font-family: MyriadProBold;
  font-size: 7.2rem;
  color: var(--c-white);
  text-transform: uppercase;
  backface-visibility: hidden;
  opacity: 0;
  animation: moveInLeft 1.4s ease-out 0.5s forwards; }

.heading-2 {
  font-family: LatoBold;
  font-size: 3.5rem;
  color: #303030; }
  .heading-2--sub {
    font-family: LatoRegular; }

.heading-3 {
  font-family: Georgia;
  font-weight: normal;
  font-style: italic;
  line-height: 1.47;
  font-size: 3.2rem;
  color: var(--c-white);
  opacity: 0;
  animation: moveInBottom 1s ease-out 1s forwards; }
  @media only screen and (max-width: 600px) {
    .heading-3 {
      font-size: 2.7rem; } }

.heading-4 {
  font-family: LatoBold;
  font-size: 2.4rem;
  color: #383737; }

.heading-5 {
  font-family: LatoBold;
  font-size: 1.8rem;
  color: #303030; }

.heading-6 {
  font-family: LatoBold;
  font-size: 1.6rem;
  color: #282828;
  text-transform: uppercase; }

.u-center-text {
  text-align: center !important; }

.u-mt-md {
  margin-top: 3.4rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  backface-visibility: hidden;
  text-decoration: none;
  font-family: LatoBold;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  color: var(--c-white);
  border: none;
  cursor: pointer; }

.btn:hover {
  filter: brightness(0.9); }

.btn:active {
  filter: brightness(0.8); }

.btn--login {
  font-size: 2.2rem;
  height: 12rem;
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
  transform-origin: center left;
  padding-left: 17rem;
  transform: scaleX(1.03);
  background-color: #21424a; }
  @media only screen and (max-width: 600px) {
    .btn--login {
      padding-left: 0; } }

.btn--register {
  font-size: 2.2rem;
  height: 12rem;
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
  transform-origin: center right;
  transform: scaleX(1.03);
  padding-right: 17rem;
  background-color: #2fac6c; }
  @media only screen and (max-width: 600px) {
    .btn--register {
      padding-right: 0; } }

.btn--text {
  background-color: transparent;
  font-size: 1.6rem;
  color: #282828;
  transition: all 0.3s; }
  .btn--text:hover {
    background-color: #21424a;
    color: #fff; }

.choose-plan {
  margin: 0 auto;
  width: 100%;
  font-size: 1.4rem;
  color: #cbcbcb;
  padding: 1.3rem 2.1rem;
  border: solid 1px rgba(0, 0, 0, 0.15);
  margin: 4rem auto 0 auto;
  text-align: center; }
  .choose-plan__item {
    border: solid 1px rgba(0, 0, 0, 0.15);
    height: 8.1rem; }
    .choose-plan__item:not(:last-child) > *:before {
      content: "";
      position: absolute;
      display: inline-block;
      left: 3%;
      right: 3%;
      bottom: 0;
      height: 1px;
      width: 94%;
      background-color: #cbcbcb; }
    .choose-plan__item > * {
      position: relative;
      width: 25%; }
      .choose-plan__item > *:not(:last-child):after {
        content: "";
        position: absolute;
        display: inline-block;
        top: 0;
        right: 0;
        bottom: 0;
        height: 95%;
        width: 1px;
        background-color: #cbcbcb; }

.navigation--header a:after, .navigation--header a:not([data-active]):hover:after, .navigation--header a[data-active]:after {
  content: "";
  display: grid;
  position: absolute;
  left: 0;
  right: 100%;
  bottom: -1px;
  height: 1px;
  background-color: #fff; }
  @media only screen and (max-width: 900px) {
    .navigation--header a:after, .navigation--header a:not([data-active]):hover:after, .navigation--header a[data-active]:after {
      bottom: calc(-1px - 2rem); } }
  @media only screen and (max-width: 720px) {
    .navigation--header a:after, .navigation--header a:not([data-active]):hover:after, .navigation--header a[data-active]:after {
      bottom: 0; } }

.navigation {
  display: grid;
  grid-auto-flow: column;
  justify-self: end;
  list-style: none; }
  @media only screen and (max-width: 900px) {
    .navigation {
      justify-self: center; } }
  @media only screen and (max-width: 720px) {
    .navigation {
      grid-auto-flow: row;
      justify-self: stretch;
      justify-items: center;
      align-content: center;
      grid-row-gap: 2rem;
      display: none; } }
  .navigation a {
    font-family: LatoRegular;
    position: relative;
    align-content: center;
    display: grid;
    height: 100%; }
  .navigation--header {
    grid-column-gap: 7rem; }
    .navigation--header a {
      transition: all 1s;
      color: var(--c-white); }
      .navigation--header a:after {
        transition: all 0.6s; }
      .navigation--header a:not([data-active]):hover:after, .navigation--header a[data-active]:after {
        right: 0;
        transition: all 0.6s; }
  .navigation--footer {
    grid-column-gap: 4.6rem; }
    .navigation--footer a {
      text-transform: uppercase;
      font-size: 1.3rem; }
      .navigation--footer a[data-active], .navigation--footer a:hover {
        color: white; }

.logo-nav-box {
  display: grid;
  position: relative;
  grid-template-columns: min-content 1fr;
  grid-gap: 2rem; }
  @media only screen and (max-width: 900px) {
    .logo-nav-box {
      grid-template-columns: auto;
      padding: 2rem 0; } }
  .logo-nav-box .logo-box {
    align-self: center;
    justify-self: center; }
  .logo-nav-box .logo {
    transition: all 0.3s; }
    .logo-nav-box .logo:hover {
      opacity: 0.7; }
  .logo-nav-box .logo--white {
    filter: opacity(1); }
  .logo-nav-box .logo--dark {
    filter: opacity(0.7); }
  .logo-nav-box--header {
    min-height: 9rem;
    border-bottom: 1px solid #2e2e30; }
  .logo-nav-box--footer {
    min-height: 7.5rem;
    border-bottom: 1px solid #4a4a4a;
    grid-column: 1 / -1; }
  .logo-nav-box .hamburger-img {
    position: absolute;
    right: 5%;
    top: 1.5rem;
    display: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer; }
    @media only screen and (max-width: 720px) {
      .logo-nav-box .hamburger-img {
        display: grid; } }

.search-domain {
  padding: 0.9rem 1.5rem;
  border: solid 1px rgba(0, 0, 0, 0.15);
  color: #cbcbcb;
  display: grid;
  grid-template-columns: max-content minmax(10px, 1fr) max-content;
  align-items: center; }
  .search-domain__input {
    min-width: 10px !important;
    font-family: LatoBold;
    border: 1px #d9d9d9 solid;
    border-top: none;
    border-bottom: none;
    margin: 0 1.6rem;
    padding: 0.6rem 1.5rem;
    color: #868686;
    font-size: 1.6rem; }
    .search-domain__input:active, .search-domain__input:focus {
      outline: none; }
    .search-domain__input::-webkit-input-placeholder {
      font-family: LatoBold;
      color: #868686; }
    .search-domain__input::-moz-placeholder {
      font-family: LatoBold;
      color: #868686; }
    .search-domain__input::placeholder {
      font-family: LatoBold;
      color: #868686; }
  .search-domain__select-box {
    position: relative; }
    .search-domain__select-box:before {
      content: "\f107";
      font-family: FontAwesome;
      position: absolute;
      font-size: 14px;
      right: 5px;
      top: 3px;
      z-index: 1;
      pointer-events: none; }
  .search-domain__select {
    cursor: pointer;
    background-color: transparent;
    font-size: 1.6rem;
    color: #cbcbcb;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 2.3rem; }
    .search-domain__select:hover {
      opacity: 0.7; }
    .search-domain__select:active, .search-domain__select:focus {
      outline: none;
      background-color: transparent; }

.worker {
  position: relative;
  display: grid;
  text-align: center;
  grid-row-gap: 1rem;
  transform: scale(1);
  cursor: pointer; }
  .worker:hover .worker__img {
    transform: scale(1.1);
    filter: blur(1px) brightness(90%); }
  .worker:after {
    font-family: LatoBold;
    content: "";
    color: black;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.3s 0.3s; }
  .worker:hover:after {
    content: "lorem";
    color: #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    opacity: 1;
    text-align: left;
    transform: translateX(-50%);
    backface-visibility: hidden; }
  .worker__name {
    font-family: LatoBold;
    font-size: 1.7rem;
    color: #303030; }
  .worker__position {
    font-size: 1.5rem;
    color: #8e8e8e; }
  .worker__img {
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 50%;
    border: 0.5rem solid #e5e5e5;
    transition: all 0.6s;
    justify-self: center; }
  .worker__social {
    display: grid;
    grid-auto-flow: column;
    width: 90%;
    justify-content: space-between;
    align-self: end; }
    .worker__social a {
      display: grid;
      transition: all 0.3; }
      .worker__social a:hover {
        opacity: 0.7; }
      .worker__social a svg {
        max-width: 1.6rem;
        max-height: 1.6rem;
        fill: #bfbfbf; }
      .worker__social a .icon--active {
        fill: #1f89ba; }

.package__svg-wrapper, .package--yellow > .package__svg-wrapper, .package--grey > .package__svg-wrapper, .package--red > .package__svg-wrapper, .package--green > .package__svg-wrapper {
  padding: 1.1rem;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
  height: 5.6rem;
  width: 5.6rem;
  transform: rotate(45deg); }

.package {
  border-top: 0.5rem solid var(--c-yellow-1);
  background-color: #fff;
  display: grid;
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.06);
  padding: 3.4rem 2.7rem 3.4rem;
  cursor: pointer;
  transition: all 0.3s; }
  .package:hover {
    transform: scale(1.05); }
  .package__svg-wrapper {
    border: 7px solid var(--c-yellow-1); }
    .package__svg-wrapper > .anchor-icon {
      fill: var(--c-yellow-1); }
  .package__name {
    margin: 2rem 0;
    text-align: center; }
  .package__icon {
    width: 1.8rem;
    height: 1.8rem;
    transform: rotate(-45deg); }
  .package__list {
    display: grid;
    grid-gap: 1.9rem;
    padding: 1.5rem 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf; }
  .package__item {
    display: grid;
    grid-template-columns: 1fr 5rem; }
    .package__item-value {
      color: var(--c-yellow-1);
      justify-self: end; }
  .package__price {
    display: grid;
    grid-auto-flow: column;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    border-bottom: 4px solid var(--c-yellow-1);
    padding-top: 3rem;
    padding-bottom: 0.7rem;
    margin-bottom: 2rem; }
    .package__price-sign {
      font-family: LatoBold;
      font-size: 1.7rem;
      color: #2c2c2c;
      align-self: start; }
    .package__price-value {
      font-family: LatoBold;
      line-height: 1;
      font-size: 2.7rem;
      color: #2c2c2c; }
    .package__price-month {
      font-size: 1.3rem;
      color: #8d8d8d;
      align-self: end; }
  .package--yellow > .package__svg-wrapper {
    border: 7px solid transparent;
    border-top: 7px solid var(--c-yellow-1); }
  .package--grey {
    border-top: 0.5rem solid var(--c-grey-1); }
    .package--grey .package__item-value {
      color: var(--c-grey-1); }
    .package--grey > .package__svg-wrapper {
      border: 7px solid transparent;
      border-top: 7px solid var(--c-grey-1);
      border-right: 7px solid var(--c-grey-1); }
      .package--grey > .package__svg-wrapper > .package__icon {
        fill: var(--c-grey-1); }
    .package--grey > .package__price {
      border-bottom: 4px solid var(--c-grey-1); }
  .package--red {
    border-top: 0.5rem solid var(--c-red-1); }
    .package--red .package__item-value {
      color: var(--c-red-1); }
    .package--red > .package__svg-wrapper {
      border: 7px solid transparent;
      border-top: 7px solid var(--c-red-1);
      border-right: 7px solid var(--c-red-1);
      border-bottom: 7px solid var(--c-red-1); }
      .package--red > .package__svg-wrapper > .package__icon {
        fill: var(--c-red-1); }
    .package--red > .package__price {
      border-bottom: 4px solid var(--c-red-1); }
  .package--green {
    border-top: 0.5rem solid var(--c-green-1); }
    .package--green .package__item-value {
      color: var(--c-green-1); }
    .package--green > .package__svg-wrapper {
      border: 7px solid var(--c-green-1); }
      .package--green > .package__svg-wrapper > .package__icon {
        fill: var(--c-green-1); }
    .package--green > .package__price {
      border-bottom: 4px solid var(--c-green-1); }

.service--fast-servers::after, .service--cloud-servers::after, .service--domain-transfer::after, .service--live-support::after {
  display: grid;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 2.1rem));
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  z-index: 3; }

.service {
  text-align: center;
  position: relative;
  transition: all 0.3s; }
  .service:hover {
    transform: scale(1.05); }
  .service__description {
    margin-top: 0.6rem;
    font-family: LatoLight;
    line-height: 1.38;
    color: #7e7e7e; }
  .service--fast-servers::after {
    content: url(../../img/SVG/bolt.svg);
    background-color: #f1c40f; }
  .service--cloud-servers::after {
    content: url(../../img/SVG/cloud.svg);
    background-color: #0faff1; }
  .service--domain-transfer::after {
    content: url(../../img/SVG/arrows.svg);
    background-color: #95a5a6; }
  .service--live-support::after {
    content: url(../../img/SVG/bubbles.svg);
    background-color: #f1540f; }
