// --c | color

:root {
  --c-white: #fff;
  --c-black: #000;
  --c-yellow-1: #f9d423;
  --c-grey-1: #7f8c8d;
  --c-red-1: #f85f40;
  --c-green-1: #1abc9c;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
}
