@font-face {
  font-family: "MyriadProRegular";
  src: url("../../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProBold";
  src: url("../../fonts/MyriadPro/MyriadProBold/MyriadProBold.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MontserratThin";
  src: url("../../fonts/Montserrat/Montserrat-Thin.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoRegular";
  src: url("../../fonts/Lato/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoBold";
  src: url("../../fonts/Lato/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoLight";
  src: url("../../fonts/Lato/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
