body {
  font-family: LatoRegular;
  font-size: 1.6rem;
}

.heading-1 {
  font-family: MyriadProBold;
  font-size: 7.2rem;
  color: var(--c-white);
  text-transform: uppercase;
  backface-visibility: hidden;
  opacity: 0;
  animation: moveInLeft 1.4s ease-out 0.5s forwards;
}

.heading-2 {
  font-family: LatoBold;
  font-size: 3.5rem;
  color: #303030;

  &--sub {
    font-family: LatoRegular;
  }
}

.heading-3 {
  font-family: Georgia;
  font-weight: normal;
  font-style: italic;
  line-height: 1.47;
  font-size: 3.2rem;
  color: var(--c-white);
  opacity: 0;
  animation: moveInBottom 1s ease-out 1s forwards;
  @media only screen and(max-width: 600px) {
    font-size: 2.7rem;
  }
}

.heading-4 {
  font-family: LatoBold;
  font-size: 2.4rem;
  color: #383737;
}

.heading-5 {
  font-family: LatoBold;
  font-size: 1.8rem;
  color: #303030;
}

.heading-6 {
  font-family: LatoBold;
  font-size: 1.6rem;
  color: #282828;
  text-transform: uppercase;
}
